{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}
    {% set tableWidth=12 %}
    <p class="lead"><a href="{{ baseurl }}">&laquo; Back to form!</a></p>

    <h2>Handsontable</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
          <div id="hottable"></div>
          <button class="hrlator-button" id="hrlator-download-csv">Download CSV</button>
        </div>
    </div>
<!--
<pre>{{ data }}</pre>
<pre>{{ colHeaders }}</pre>
-->
<script>
$(document).ready(function () {
  // get data from twig (BAD)
  var data = {{ data | raw }};
  var colHeaders = {{ colHeaders | raw }};
  var colDanger = {{ colDanger | raw }};
  var rowRenderer = new hrlatorRenderer();

  $('div#hottable').handsontable({
    data: data,
    minSpareRows: 1,
    colHeaders: colHeaders,
    contextMenu: true,
    cells: function (row, col, prop) {
      var cellProperties = {};
      cellProperties.renderer = rowRenderer.getRenderFunction(colDanger);
      return cellProperties;
    }
  });
  var ht = $('div#hottable').handsontable('getInstance');

  $("#hrlator-download-csv").on('click', function() {
    var header = $('div#hottable').handsontable("getColHeader");
    var data = $('div#hottable').handsontable("getData");
    hrlatorCSV(header, data);
  });
});
</script>
<!--
    <h2>CSV File</h2>
    <a class="btn btn-default" href="{{ file_link }}" role="button">Download file</a>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    {% for item in header %}
                      <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                  <tr class="{{ row.valid }}">
                    {% for item in row %}
                      <td>{{ item }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
-->
{% endblock %}
