{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}
    {% set tableWidth=6 %}
    <p class="lead"><a href="{{ baseurl }}">&laquo; Back to form</a></p>
    
    <script>

            var data = {{ json_rows }};

            $('#editable').handsontable({
              data: data,
              colHeaders: true,
              rowHeaders: true,
              minSpareRows: 1
            });

            $('#editable table').addClass('table');

    </script>
    
    <div class="row">
      <div id="editable"></div>
    </div>

    <hr/>

    <h2>CSV File</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    {% for item in header %}
                      <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                  <tr class="{{ row.valid }}">
                    {% for item in row %}
                      <td>{{ item }}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
