{% extends '_page.twig' %}
{% block title %}HRLator{% endblock %}
{% block content %}
    {% set tableWidth=6 %}

    <h2>HRLator Dictionary</h2>
    <div class="row">
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Type</label>

            <div class="col-sm-3">
              <select id="type" name="type">
                <option value="organizations">Organizations</option>
                <option value="population_types">Population Types</option>
                <option value="activity_status">Activity Status</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label for="initial" class="col-sm-3 control-label">Initial</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="initial" name='initial' required="required"
                       placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="col-sm-3 control-label">Replacement</label>

            <div class="col-sm-3">
                <input type="text" class="form-control" id="replacement" name='replacement' required="required"
                       placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-sm-8">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </div>
    </form>
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered" id="hrlator-dictionary">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Initial</th>
                    <th>Replacement</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  {% for row in rows %}
                  <tr class="{{ row.Type|e('css') }}">
                      <td>{{ row.Type }}</td>
                      <td>{{ row.Initial }}</td>
                      <td>{{ row.Replacement }}</td>
                      <th><form class="form-horizontal" name="delete" method="post" action="">
                          <input type="hidden" name="type" value="{{ row.Type }}">
                          <input type="hidden" name="initial" value="{{ row.Initial }}">
                          <input type="hidden" name="row" value="{{ loop.index0 }}">
                          <button type="submit" class="btn btn-default">Delete</button>
                          </form></th>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
      var hr_organizations = null;
      var hr_clusters = null;
      var hr_dictionary = {{ dictionary | raw }};
    </script>
{% endblock %}
